@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color:#ebe5e0;  /* #dbccb8; */
    --balck-color:#121212;
    --border:0.1rem solid rgba(255,255,255,0.4)
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease; /*geçiş yavaslatıyor */
} 
 
html{
    font-size: 62.5%;  /*1 rem 16px dir 1 rem =10px */
    overflow-x: hidden; /*scrol istenmiyor scrolu kapatıyor hidden*/
    scroll-padding: top;
    scroll-behavior: smooth;
}
body{
    background-color:var(--main-color) ;
    height: auto;

}
section{
    padding:3.5rem 7%;
}
.btn{
    margin-top:1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    background-color: var(--balck-color);
    text-align: center;
}

.btn:hover{
    opacity: 0.9;
    transform: scale(1.1);
}
.title{
    font-size: 2rem;
}
.search-input{
    font-size: 1.6rem;
    color: var(--balck-color);
    padding: 1rem;
    border-radius: 3rem;
    text-transform: none;
}
 
/* header başlangıcı */

.header .logo img{
    height:6rem ;
    margin: 1rem;
    
}

.header{
    background-color: white;
    display: flex; /*yan yana attık hepsi bir satırda*/
    align-items: center; /*ortaladık*/
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.headder.navbar .active,
.header .navbar a{
    color:var(--balck-color);
    margin: 0 1rem;
    font-size:1.6rem;
    border-bottom: 0.1rem solid transparent; 
}
.header.navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;

}
.header .buttons button{
    cursor: pointer;
    font-size:0.2rem1;
    margin-left:2rem;
    background-color: transparent;
}
#menu-btn{
    display: none;
}

/* anasayfa başlangıcı */
.anasayfa{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/logosuz.png);
    background-size: cover;
    background-position: center;
    margin-top: -12.5rem;
}

.anasayfa .content{
  max-width: 60rem;
  color:#fff;
  margin-top: 10rem;
  border-radius: 30px;
  box-shadow: 0px 0px 17px -2px rgba(255, 255, 255, 0.75);
}

.anasayfa .content h3{
    font-size: 6rem;
    text-align: center;
}
.anasayfa .content p{
    font-size:2rem ;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    margin: 1rem;
}
.anasayfa .content .btn{
    text-align: center;
    margin: 3rem;
    margin-left: 19rem;
}

/* TREND ÜRÜNLER BASLANGICI */

.heading{
text-align:center;
padding: 1rem;
text-transform: uppercase;
font-size: 5rem;
gap:1.5rem;
margin-top: 10.5rem;
margin-bottom:3.5rem;
border-bottom: 0.1rem solid #121212;
}
.urunler{
    padding:3.5rem 7%;
}

.urunler .box-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)) ;
    gap: 1.5rem;
    margin-top: 2rem;
    padding:2rem;
    margin-bottom: 2rem;
}

.urunler .box-container .box{
    padding:3rem;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    align-items: flex-start;
    justify-content: space-between;
}

.urunler .box-container .box img{
    width: 100%;
    object-fit: cover;
}
.urunler .box-container .box img:hover{
    transform: scale(1.1);
}



.urunler .box-container .box h3{
    font-size: 2rem;
    padding:1rem 0 ;
}

.urunler .box-container .box .fiyat{
    font-size: 2rem;
    padding:0.5rem 0 ;
}

.urunler .box-container .box .fiyat span{
   text-decoration: line-through;
   font-size:1.5rem ;
}

/* hakkımızda */
.hakkimizda .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    gap: 1rem;
    padding: 6rem;
}
.hakkimizda .row .image{
    flex: 1 1 45rem;
}

.hakkimizda .row .image img{
    width: 70rem;
    height: 50rem;
    margin-left: 3rem;

}
.hakkimizda .row .content{
    flex: 1 1 45rem;   /*sayfayı hizaliyor */
    margin-top: 15rem;
}

.hakkimizda .row .content h3{
    font-size: 3rem;
    color: #121212;
}

.hakkimizda .row .content p{
    font-size: 1.6rem;
    padding: 1rem o;
    color: #121212;
    line-height: 1.8;
}


/* İLETİŞİM */
.iletisim{
   padding:3.5rem 7%; 
}
.iletisim .row{
    display: flex;
    background-color: var(--balck-color);
    flex-wrap: wrap;   /*sayfa küçüldüğünde aşağı atmasını istiyorum sayfa responsive oluyor */
    gap: 1rem;
}

.iletisim .row .map{
    flex: 1 1 45rem;
    width: 1000%;
    object-fit: cover;
}

.iletisim .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.iletisim .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}

.iletisim .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
}

.iletisim .row form .inputBox i{
    color: #fff;
    padding-left: 2rem;
    font-size:2rem;
}

.iletisim .row form .inputBox input{
    width: 100%;
    font-size: 1.7rem;
    padding: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.iletisim .row form .btn{
    color: var(--balck-color);
    background-color: #fff;
    font-weight: bold;
}

/* footer başlangıcı */
.footer{
    background-color: var(--balck-color);
    text-align: center;
}
.footer .search{
    display: flex;
    justify-content: center;
}

.footer .search .search-input{
    width: 30rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4.5rem;
}

.footer .search .btn{
    background-color:var(--main-color);
    color: #121212;
    font-weight: bold;
    padding:1rem 2rem;
    margin-left: 1rem;
}

.footer .share{
    padding: 2rem 0;

}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;   
    color: #fff;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .created{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 100;
    padding-top:1.5rem ;
}

.footer .created span{
    color: var(--main-color);
}